$max-width: 960px;
$mobile-width: 680px;
$transition-zero: 0.0001s;
$menu-duration: 0.3s;

$nav-background: #fff;
$tab-color: #555;
$active-tab-color: #058;
$hover-tab-background: #ddd;
$hover-tab-color: #555;
$app-background: #08d;
$dashboard-background: #eee;
$widget-background: #fff;
$profile-tab-background: #282;
$profile-tab-color: #fff;
