html,
body,
:global(#root) {
  height: 100%;
  margin: 0;
  width: 100%;
}

// body,
// :global(#root) {
//   display: flex;
//   flex: 1;
// }

a {
  text-decoration: none;
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
